:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
    --Azure: #3A86FF;
}

body {
    background: #EFF7F6 !important;
    color: var(--mainDark)!important;
}

.text-title {
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue)
}

.text-bright {
    color: var(--lightBlue)
}

.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8 rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}